---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<h2> University of Utah </h2>
<h3> Instructor of Record </h3>
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-baqh{text-align:center;vertical-align:top}
  .tg .tg-6qw1{background-color:#c0c0c0;text-align:center;vertical-align:top}
  .tg .tg-y6fn{background-color:#c0c0c0;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
}

  </style>
  <table class="tg" style="width:100%">
  <thead>
    <tr>
      <th class="tg-6qw1" style="width:20%"><b>Semester</b></th>
      <th class="tg-6qw1" style="width:20%"><b>Course Number</b></th>
      <th class="tg-y6fn" style="width:60%"><b>Description</b><br></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-baqh">Fall 2025</td>
      <td class="tg-baqh">MATH 1310</td>
      <td class="tg-0lax">Engineering Calculus I<br></td>
    </tr>
    <tr>
      <td class="tg-baqh">Summer 2025</td>
      <td class="tg-baqh">MATH 1030</td>
      <td class="tg-0lax">Introduction to Quantitative Reasoning<br></td>
    </tr>
    <tr>
      <td class="tg-baqh">Spring 2025</td>
      <td class="tg-baqh">MATH 1090</td>
      <td class="tg-0lax">Business Algebra<br></td>
    </tr>
    <tr>
      <td class="tg-baqh">Fall 2024</td>
      <td class="tg-baqh">MATH 1030</td>
      <td class="tg-0lax">Introduction to Quantitative Reasoning<br></td>
    </tr>
    <tr>
      <td class="tg-baqh">Summer 2024</td>
      <td class="tg-baqh">MATH 1070</td>
      <td class="tg-0lax">Introduction to Statistical Inference<br></td>
    </tr>
  </tbody>
  </table>

<h3> Teaching Assistant </h3>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-baqh{text-align:center;vertical-align:top}
  .tg .tg-6qw1{background-color:#c0c0c0;text-align:center;vertical-align:top}
  .tg .tg-y6fn{background-color:#c0c0c0;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
  <table class="tg" style="width:100%">
  <tbody>
    <tr>
      <td class="tg-baqh" style="width:20%">Spring 2024</td>
      <td class="tg-baqh" style="width:20%">MATH 2250</td>
      <td class="tg-0lax" style="width:60%">Differential Equations and Linear Algebra<br></td>
    </tr>
    <tr>
      <td class="tg-baqh">Fall 2023</td>
      <td class="tg-baqh">MATH 1310</td>
      <td class="tg-0lax">Engineering Calculus I<br></td>
    </tr>
  </tbody>
  </table>


<h2> University of Arizona </h2>
<h3> Teaching Assistant </h3>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-baqh{text-align:center;vertical-align:top}
  .tg .tg-6qw1{background-color:#c0c0c0;text-align:center;vertical-align:top}
  .tg .tg-y6fn{background-color:#c0c0c0;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
  <table class="tg" style="width:100%">
  <thead>
    <tr>
      <th class="tg-6qw1" style="width:20%"><b>Semester</b></th>
      <th class="tg-6qw1" style="width:20%"><b>Course Number</b></th>
      <th class="tg-y6fn" style="width:60%"><b>Description</b><br></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-baqh">Spring 2023</td>
      <td class="tg-baqh">MATH 415B</td>
      <td class="tg-0lax">Second Course in Abstract Algebra<br></td>
    </tr>
    <tr>
      <td class="tg-baqh">Fall 2022</td>
      <td class="tg-baqh">MATH 415A</td>
      <td class="tg-0lax">Introduction to Abstract Algebra</td>
    </tr>
    <tr>
      <td class="tg-baqh">Spring 2022</td>
      <td class="tg-baqh">MATH 315</td>
      <td class="tg-0lax">Introduction to Number Theory and Modern Algebra</td>
    </tr>
    <tr>
      <td class="tg-baqh">Fall 2021</td>
      <td class="tg-baqh">MATH 195M</td>
      <td class="tg-0lax">New Math Major Colloquium</td>
    </tr>
    <tr>
      <td class="tg-baqh">Spring 2021<br></td>
      <td class="tg-baqh">MATH 223</td>
      <td class="tg-0lax">Vector Calculus</td>
    </tr>
    <tr>
      <td class="tg-baqh">Fall 2020</td>
      <td class="tg-baqh">MATH 129</td>
      <td class="tg-0lax">Calculus II</td>
    </tr>
  </tbody>
  </table>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
